@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


Nuclear option for react-time-picker
.time-picker-custom .react-time-picker__wrapper {
  border: none !important;
  padding: 0 !important;
}

.time-picker-custom .react-time-picker__inputGroup {
  padding: 0 !important;
  border: none !important;
}

.time-picker-custom .react-time-picker__inputGroup__input {
  outline: none !important;
}

.time-picker-custom .react-time-picker__inputGroup__input:focus {
  outline: none !important;
  
}

